html
  head
    title Welcome
    script(src='/js/jquery.min.js')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/bootstrap.min.js')



  body
    form(action='/' method='post')
      if err
        label(style='color:red')= err
      table
        tr
          td
            label Username:     
          td
            input(type='text', name='username', id='usern' required) 
        tr
          td
            label Password:     
          td
            input(type='password', name='password', id='pass', required) 
          tr
            td(colspan=2)
              input(type='submit', name='login', value='LOGIN')
